:root {
  --first: #183d3d;
}
* {
  margin: 0px;
  padding: 0px;
}
.base {
  background-color: aliceblue;
}
.ul {
  width: 80%;
}

.ul li {
  list-style-type: none;
}
.ul a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.nav {
  height: 100px;
  background-color: var(--first);
}
.main {
  /* height: 500px; */
  background-color: var(--first);
}
.sub-info h2 {
  color: orange;
}
.photoes {
  margin-top: 30px;
  margin-bottom: 30px;
}
.sub-photoes {
  background-image: url("../images/background/white-dots-img.png");
  background-size: 100% 100%;
  height: 300px;
}
.hero1 {
  width: 130px;
  height: 150x;
  border-radius: 60px;
}
.hero2 {
  width: 130px;
  height: 150x;
  border-radius: 60px;
}
@media (min-width: 768px) {
  .sub-photoes {
    background-image: url("../images/background/white-dots-img.png");
    background-size: 100% 100%;
    height: 400px;
  }
  .hero1 {
    width: 250px;
    height: 150x;
    border-radius: 60px;
  }
  .hero2 {
    width: 250px;
    height: 250x;
    border-radius: 60px;
  }
}
@media (min-width: 992px) {
  .sub-photoes {
    background-image: url("../images/background/white-dots-img.png");
    background-size: 100% 100%;
    height: 550px;
  }
  .hero1 {
    width: 200px;
    height: 250x;
    border-radius: 60px;
  }
  .hero2 {
    width: 200px;
    height: 250x;
    border-radius: 60px;
  }
}
/* ////// */
.one {
  background-color: burlywood;
}
.two {
  background-color: var(--first);
}
.three {
  background-color: var(--first);
}
@media (min-width: 768px) {
  .one {
    background-color: burlywood;
    height: 250px;
  }
  .two {
    background-color: var(--first);
    height: 250px;
  }
  .three {
    background-color: var(--first);
    height: 250px;
  }
}
/* //////*/
.sub-photoes1 {
  background-image: url("../images/background/white-dots-img.png");
  background-size: 100% 100%;
  height: 300px;
  background-color: bisque;
}
.hero11 {
  width: 130px;
  height: 150x;
  border-radius: 60px;
}
.hero12 {
  width: 130px;
  height: 150x;
  border-radius: 60px;
}
@media (min-width: 768px) {
  .sub-photoes1 {
    background-image: url("../images/background/white-dots-img.png");
    background-size: 100% 100%;
    height: 400px;
    background-color: bisque;
  }
  .hero11 {
    width: 300px;
    height: 350px;
    border-radius: 60px;
  }
  .hero12 {
    width: 300px;
    height: 350px;
    border-radius: 60px;
  }
}

@media (min-width: 992px) {
  .sub-photoes1 {
    background-image: url("../images/background/white-dots-img.png");
    background-size: 100% 100%;
    height: 460px;
  }
  .hero11 {
    width: 170px;
    height: 150x;
    border-radius: 60px;
  }
  .hero12 {
    width: 170px;
    height: 150x;
    border-radius: 60px;
  }
}
/* ////// */
.div1 {
  height: 300px;
}
.sub-div1 {
  margin-top: 80px;
}
.div2 {
  height: 300px;
}
.sub-div2 {
  margin-top: 20px;
}
.div3 {
  height: 300px;
}
.sub-div3 {
  margin-top: 20px;
}
.div4 {
  height: 300px;
}
.sub-div4 {
  margin-top: 20px;
}
.div5 {
  height: 300px;
}
.sub-div5 {
  margin-top: 20px;
}
.div6 {
  height: 300px;
}
.sub-div6 {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .sub-div1 {
    margin-top: 15px;
  }
  .sub-div2 {
    margin-top: 5px;
  }
  .sub-div3 {
    margin-top: 10px;
  }
  .sub-div4 {
    margin-top: 10px;
  }
  .sub-div5 {
    margin-top: 10px;
  }
  .sub-div6 {
    margin-top: 10px;
  }
}
/* ////// */
.last {
  background-image: url("../images/background/home-contact-form-bg.jpg");
  background-size: 100% 100%;
  /* height: 800px; */
  text-align: center;
}
.life {
  background-color: coral;
}
.form1 {
  background-color: var(--first);
}
.medipro {
  background-color: var(--first);
  text-align: center;
}
