* {
  padding: 0px;
  margin: 0px;
}

.out {
  background-color: honeydew;
  position: absolute;
}
/* /// */
.main {
  background-image: url("../images/background/main-bg.jpg");

  background-size: 100% 100%;
  height: 650px;
  text-align: center;
}
.main .nav {
  height: 70px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.ul {
  display: none;
}
.sub-main1 {
  margin-top: 50px;
}
.sub-main1 h3 {
  color: white;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
}
.sub-main1 h2 {
  color: white;
  font-size: 30px;
  font-weight: 900;
  font-family: cursive;
  margin-top: 20px;
}
.sub-main1 h4 {
  color: white;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
}
.sub-main1 .div1 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.sub-main1 .color {
  color: goldenrod;
  font-size: 30px;
  font-weight: 900;
}
@media (min-width: 768px) {
  .sub-main1 {
    margin-top: 60px;
  }
  .sub-main1 h3 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .sub-main1 h2 {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: cursive;
    margin-top: 20px;
  }
  .sub-main1 h4 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .sub-main1 .div1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .sub-main1 .color {
    color: goldenrod;
    font-size: 40px;
    font-weight: 900;
  }
}

@media (min-width: 992px) {
  .sub-main1 {
    margin-top: 60px;
  }
  .sub-main1 h3 {
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .sub-main1 h2 {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: cursive;
    margin-top: 20px;
  }
  .sub-main1 h4 {
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .sub-main1 .div1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .sub-main1 .color {
    color: goldenrod;
    font-size: 45px;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .imgm {
    display: none;
  }
  .ul {
    display: block;
  }
  .main .nav {
    height: 70px;
    background-color: gray;
    opacity: 0.5;
  }
  .ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .ul li {
    list-style-type: none;
  }
  .ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .main .nav {
    height: 80px;
    background-color: gray;
    opacity: 0.5;
  }
  .ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .ul li {
    list-style-type: none;
  }
  .ul a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
}
/* //// */
.rsvp {
  height: 400px;
  background-color: darkolivegreen;
  text-align: center;
}
.rsvp p {
  padding-top: 70px;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.rsvp .div1 {
  padding-top: 70px;

  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.rsvp .div1 h2 {
  color: white;
}
@media (min-width: 768px) {
  .rsvp {
    height: 400px;
    background-color: darkolivegreen;
    text-align: center;
  }
  .rsvp p {
    padding-top: 80px;
    color: white;
    font-size: 33px;
    font-weight: 800;
  }
  .rsvp .div1 {
    padding-top: 80px;

    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .rsvp .div1 h2 {
    color: white;
    font-size: 28px;
    font-weight: 700px;
  }
}

@media (min-width: 992px) {
  .rsvp {
    height: 400px;
    background-color: darkolivegreen;
    text-align: center;
  }
  .rsvp p {
    padding-top: 80px;
    color: white;
    font-size: 35px;
    font-weight: 800;
  }
  .rsvp .div1 {
    padding-top: 80px;

    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .rsvp .div1 h2 {
    color: white;
    font-size: 25px;
    font-weight: 700px;
  }
}
/* //// */

.details {
  width: 90%;
  margin: 0 auto;
}
.details .jenifer {
  text-align: center;
}
.jenifer h2 {
  color: gold;
  padding-top: 40px;
}
.jenifer .jh {
  color: grey;
  font-size: 28px;
  padding-bottom: 30px;
}
.jenifer img {
  height: 200px;
  width: 270px;
}
.jenifer button {
  position: relative;

  height: 50px;
  width: 240px;
  font-size: 16px;
  background-color: darkolivegreen;
  color: white;
  bottom: 25px;
}
.jenifer p {
  font-size: 20px;
  padding-bottom: 20px;
}
.jenifer .div1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.jenifer .div1 img {
  width: 50px;
  height: 50px;
}
.jenifer .div1 p {
  color: gold;
}

.details .oliver {
  text-align: center;
}
.oliver h2 {
  color: gold;
  padding-top: 40px;
}
.oliver .jh {
  color: grey;
  font-size: 28px;
  padding-bottom: 30px;
}
.oliver img {
  height: 200px;
  width: 270px;
}
.oliver button {
  position: relative;

  height: 50px;
  width: 240px;
  font-size: 16px;
  background-color: darkolivegreen;
  color: white;
  bottom: 25px;
}
.oliver p {
  font-size: 20px;
  padding-bottom: 20px;
}
.oliver .div1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.oliver .div1 img {
  width: 50px;
  height: 50px;
}
.oliver .div1 p {
  color: gold;
}

@media (min-width: 768px) {
  .details {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .details .jenifer {
    text-align: center;
  }
  .jenifer h2 {
    color: gold;
    padding-top: 40px;
  }
  .jenifer .jh {
    color: grey;
    font-size: 28px;
    padding-bottom: 30px;
  }
  .jenifer img {
    height: 200px;
    width: 270px;
  }
  .jenifer button {
    position: relative;

    height: 50px;
    width: 240px;
    font-size: 16px;
    background-color: darkolivegreen;
    color: white;
    bottom: 25px;
  }
  .jenifer p {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .jenifer .div1 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .jenifer .div1 img {
    width: 50px;
    height: 50px;
  }
  .jenifer .div1 p {
    color: gold;
  }

  .details .oliver {
    text-align: center;
  }
  .oliver h2 {
    color: gold;
    padding-top: 40px;
  }
  .oliver .jh {
    color: grey;
    font-size: 28px;
    padding-bottom: 30px;
  }
  .oliver img {
    height: 200px;
    width: 270px;
  }
  .oliver button {
    position: relative;

    height: 50px;
    width: 240px;
    font-size: 16px;
    background-color: darkolivegreen;
    color: white;
    bottom: 25px;
  }
  .oliver p {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .oliver .div1 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .oliver .div1 img {
    width: 50px;
    height: 50px;
  }
  .oliver .div1 p {
    color: gold;
  }
}
/* /////////// */

.groom {
  background-image: url("../images/illustraition/bg11.jpg");
  background-size: 100% 100%;
  height: 750px;
  text-align: center;
}
.groom h1 {
  color: white;
  font-weight: 900;
  font-size: 25px;
  padding-top: 80px;
}
.groom h2 {
  color: gold;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
}
/* .start10{
  display: none;
} */
.parent1 {
}
.mike {
}
.sub-mike {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}
.sub-mike button {
  background-color: darkolivegreen;
  height: 50px;
  width: 230px;
  color: white;
  font-size: 20px;
}
.groom .para1 {
  border: 2px solid gold;
  color: white;
  font-size: 20pxpx;
  font-weight: 600;
}

@media (min-width: 768px) {
  .groom {
    background-image: url("../images/illustraition/bg11.jpg");
    background-size: 100% 100%;
    height: 750px;
    text-align: center;
  }
  .groom h1 {
    color: white;
    font-weight: 900;
    font-size: 30px;
    padding-top: 80px;
  }
  .groom h2 {
    color: gold;
    font-weight: 800;
    font-size: 25px;
    padding-top: 20px;
  }

  .remy {
  }
  .sub-remy {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  .sub-remy button {
    background-color: darkolivegreen;
    height: 50px;
    width: 230px;
    color: white;
    font-size: 20px;
  }
  .groom .para1 {
    border: 2px solid gold;
    color: white;
    font-size: 25px;
    font-weight: 700;
  }
  .dot {
    margin: 20px;
  }
}

@media (min-width: 992px) {
  .groom {
    background-image: url("../images/illustraition/bg11.jpg");
    background-size: 100% 100%;
    height: 800px;
    text-align: center;
  }
  .groom h1 {
    color: white;
    font-weight: 900;
    font-size: 35px;
    padding-top: 90px;
  }
  .groom h2 {
    color: gold;
    font-weight: 900;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lym {
  }
  .sub-lym {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  .sub-lym button {
    background-color: darkolivegreen;
    height: 50px;
    width: 230px;
    color: white;
    font-size: 20px;
  }
  .groom .para1 {
    border: 2px solid gold;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }
  .dot {
    margin: 25px;
  }
}

/* ////// */
.example {
  /* height: 750px; */
  text-align: center;
}
.example .blog {
  color: darkslategray;
  font-size: 30px;
  font-weight: 700;
  padding-top: 70px;
}
.example .post {
  border: 2px solid gold;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: gold;
  margin-top: 60px;
  margin-bottom: 70px;
}

.parent2 {
  margin-top: 60px;
}
.parent2 .first {
  background-image: url("../images/illustraition/ring1.jpg");
  background-size: 100% 100%;
  height: 400px;
  width: 300px;
  border: 2px solid black;
}
.first .sub-first {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border: 2px solid black;
}
.sub-first p {
  font-size: 20px;
  color: gold;
  font-weight: 600;
  padding-top: 50px;
}
.sub-first h1 {
  color: darkslategrey;
  font-weight: 700;
  padding-top: 20px;
}
.sub-first button {
  color: gold;
  border: 2px solid gold;
  height: 40px;
  width: 120px;
  font-weight: 500;
  margin-top: 30px;
}

.parent2 .second {
  background-image: url("../images/background/flower1.jpg");
  background-size: 100% 100%;
  height: 400px;
  width: 300px;
  border: 2px solid black;
  /* margin-top: 50px; */
}
.second .sub-second {
  width: 80%;
  height: 300px;
  margin: 0 auto;
}
.sub-second p {
  font-size: 20px;
  color: gold;
  font-weight: 600;
  padding-top: 50px;
}
.sub-second h1 {
  color: darkslategrey;
  font-weight: 700;
  padding-top: 20px;
}
.sub-second button {
  color: gold;
  border: 2px solid gold;
  height: 40px;
  width: 120px;
  font-weight: 500;
  margin-top: 30px;
}

.parent2 .third {
  background-image: url("../images/background/sheep1.jpg");
  background-size: 100% 100%;
  height: 400px;
  width: 300px;
  border: 2px solid black;
  /* margin-top: 50px; */
}
.third .sub-third {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border: 2px solid black;
}
.sub-third p {
  font-size: 20px;
  color: gold;
  font-weight: 600;
  padding-top: 50px;
}
.sub-third h1 {
  color: darkslategrey;
  font-weight: 700;
  padding-top: 20px;
}
.sub-third button {
  color: gold;
  border: 2px solid gold;
  height: 40px;
  width: 120px;
  font-weight: 500;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .parent2 {
    margin-top: 60px;
  }
  .parent2 .first {
    background-image: url("../images/illustraition/ring1.jpg");
    background-size: 100% 100%;
    height: 300px;
    width: 200px;
  }
  .first .sub-first {
    width: 80%;
    height: 250px;
    margin: 0 auto;
  }
  .sub-first p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-first h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 20px;
    font-size: 20px;
  }
  .sub-first button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }

  .parent2 .second {
    background-image: url("../images/background/flower1.jpg");
    background-size: 100% 100%;
    height: 300px;
    width: 200px;

    /* margin-top: 50px; */
  }
  .second .sub-second {
    width: 80%;
    height: 250px;
    margin: 0 auto;
  }
  .sub-second p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-second h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 20px;
    font-size: 14px;
  }
  .sub-second button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }

  .parent2 .third {
    background-image: url("../images/background/sheep1.jpg");
    background-size: 100% 100%;
    height: 300px;
    width: 200px;
  }
  .third .sub-third {
    width: 80%;
    height: 250px;
    margin: 0 auto;
  }
  .sub-third p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-third h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 20px;
    font-size: 16px;
  }
  .sub-third button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .parent2 {
    margin-top: 60px;
  }
  .parent2 .first {
    background-image: url("../images/illustraition/ring1.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 300px;
  }
  .first .sub-first {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  .sub-first p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-first h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 25px;
    font-size: 23px;
  }
  .sub-first button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }

  .parent2 .second {
    background-image: url("../images/background/flower1.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    /* margin-top: 50px; */
  }
  .second .sub-second {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid black;
  }
  .sub-second p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-second h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 20px;
    font-size: 23px;
  }
  .sub-second button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }

  .parent2 .third {
    background-image: url("../images/background/sheep1.jpg");
    background-size: 100% 100%;
    height: 400px;
    width: 300px;
  }
  .third .sub-third {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  .sub-third p {
    font-size: 20px;
    color: gold;
    font-weight: 600;
    padding-top: 50px;
  }
  .sub-third h1 {
    color: darkslategrey;
    font-weight: 700;
    padding-top: 20px;
    font-size: 23px;
  }
  .sub-third button {
    color: gold;
    border: 2px solid gold;
    height: 40px;
    width: 120px;
    font-weight: 500;
    margin-top: 30px;
  }
}
/* /////////// */
.example2 {
}
.example2 .one {
}
.one .sub-one {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.sub-one h1 {
  color: darkslategray;
  font-weight: 700;
  margin-top: 30px;
}
.sub-one .para21 {
  color: goldenrod;
  font-weight: 700;
  margin-top: 10px;
}
.sub-one .para22 {
  font-size: 20px;
}
.sub-one button {
  color: gold;
  border: 2px solid gold;
  height: 40px;
  width: 120px;
  margin-bottom: 70px;
  margin-top: 30px;
}
/* ////////////// */
.short {
  /* height: 800px; */
  background-color: darkolivegreen;
  padding-bottom: 30px;
}
.short .combination {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.combination h2 {
  color: goldenrod;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 40px;
}
.icons {
  margin-bottom: 30px;
}
.text {
  margin-bottom: 60px;
}

.text .p1 {
  color: white;
  font-weight: 700;
}
.text .p2 {
  color: goldenrod;
  font-weight: 700;
}
.text .p3 {
  color: goldenrod;
  font-weight: 700;
}
.text .p4 {
  color: goldenrod;
  font-weight: 700;
}
.text .p5 {
  color: goldenrod;
  font-weight: 700;
}
.text .p6 {
  color: goldenrod;
  font-weight: 700;
}
.p111 {
  color: grey;
  font-size: 15px;
}
.p222 {
  color: goldenrod;
  font-size: 15px;
}
