* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --sideBGColor: #040b14;
  --themecolor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textColor: #353535;
  --bgColor: #f7f7f7;
}
/* -----------------------------------------------header section start--------------------------------------------*/
.header {
  height: 70px;
  width: 100%;
  z-index: 2;
}
.nav {
  width: 90%;
  height: 70px;
  margin: 0 auto;
}

.ul {
  width: 70%;
  height: 60px;
  display: none;
}
.list {
  list-style-type: none;
}
.list a {
  color: white;
}
.list a:hover {
  color: var(--sideBGColor);
}
.nav i {
  font-size: 30px;
}
/*-------------------------------------------------- header section end ----------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------------- */

/*-------------------------------------------------- home secton start ----------------------------------------*/

.home {
  margin-top: 70px;
  background-image: url("../public/images/background/bg2.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 572px;
  position: relative;
}

.home::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(21, 0, 255, 0.127);
}

.home .booking {
  text-align: center;
  width: 300px;
  z-index: 1;
}
.home .booking h1 {
  font-size: 30px;
  font-weight: 700;
}
.home .booking p {
  font-size: 15px;
}
.home .booking button {
  font-size: 20px;
}

@media (min-width: 768px) {
  .home {
    margin-top: 70px;
    background-image: url("../public/images/background/bg2.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 572px;
  }
  .home .booking {
    text-align: center;
    width: 700px;
  }
  .home .booking h1 {
    font-size: 60px;
    font-weight: 700;
  }
  .home .booking p {
    font-size: 20px;
  }
  .home .booking button {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .home {
    margin-top: 70px;
    background-image: url("../public/images/background/bg2.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 572px;
  }
  .home .booking {
    text-align: center;
    width: 800px;
  }
  .home .booking h1 {
    font-size: 65px;
    font-weight: 700;
  }
  .home .booking p {
    font-size: 20px;
  }
  .home .booking button {
    font-size: 23px;
  }
}
@media (min-width: 1400px) {
  .home {
    height: 659px;
    position: relative;
  }
  .home .booking {
    width: 900px;
  }
  .home .booking h1 {
    font-size: 80px;
    font-weight: 700;
  }
  .home .booking p {
    font-size: 25px;
  }
  .home .booking button {
    font-size: 25px;
  }
}

/*-------------------------------------------------- home section end ----------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------Our_story section start -------------------------------------------------*/
.Our_story {
  padding: 60px 15px;
  text-align: center;
}
.info1 {
  text-align: center;
}
.info1 h1 {
  font-size: 30px;
  font-weight: 700;
}
.info1 p {
  font-size: 15px;
  color: var(--textColor);
}
.info1 button {
  font-size: 15px;
}
.Our_story img {
  height: 340px;
  width: 280px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px gray;
}

@media (min-width: 768px) {
  .Our_story {
    padding: 70px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .info1 {
    text-align: center;
    width: 100%;
  }
  .info1 h1 {
    font-size: 35px;
    font-weight: 700;
  }
  .info1 p {
    font-size: 17px;
  }
  .info1 button {
    font-size: 17px;
  }
  .Our_story img {
    height: 450px;
    width: 45%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
  }
}
@media (min-width: 992px) {
  .Our_story {
    padding: 80px 20px;
  }
  .info1 h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .info1 p {
    font-size: 18px;
  }
  .info1 button {
    font-size: 18px;
  }
  .Our_story img {
    height: 550px;
  }
}
@media (min-width: 1400px) {
  .Our_story {
    padding: 90px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .info1 {
    text-align: center;
    width: 30%;
    order: 1;
    padding-top: 70px;
  }
  .info1 h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .info1 p {
    font-size: 19px;
  }
  .info1 button {
    font-size: 20px;
    margin-top: 10px;
  }
  .Our_story .img1 {
    height: 600px;
    width: 30%;
  }
  .Our_story .img2 {
    height: 600px;
    width: 30%;
    order: 1;
  }
}

/*--------------------------------------------------Our_story section end -------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------Menu section start ------------------------------------------------------*/
.menus1 {
  padding: 70px 15px;
  text-align: center;
}
.heading {
  font-size: 35px;
  font-weight: 700;
}
.row_product {
  margin-top: 30px;
}
.sub {
  box-shadow: 2px 2px 10px gray;
  margin-top: 20px;
  text-align: center;
}
.txt1 {
  width: 60%;
}

@media (min-width: 768px) {
  .menus1 {
    padding: 80px 16px;
  }
  .row_product {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .product1_row {
    width: 48%;
  }
  .product2_row {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .sub {
    width: 100%;
  }
  .sub p {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .menus1 {
    padding: 90px 20px;
  }

  .sub p {
    font-size: 21px;
  }
  .sub {
    margin-top: 40px;
  }
}

/*--------------------------------------------------Menu section end ---------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------Pages secton start ---------------------------------------------------------*/

.pages {
  padding: 70px 15px;
  text-align: center;
}
.page_row {
  margin-top: 40px;
}
.one {
  border-radius: 10px 10px 0px 0px;
  margin-top: 25px;
}
.page_row .one {
  box-shadow: 2px 2px 10px gray;
}
.pages .one .page_img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.pages .one h3 {
  color: var(--iconBGColor);
}
.pages .one p {
  color: var(--textColor);
}
@media (min-width: 768px) {
  .page_row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .one {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .one {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .one {
    width: 30%;
  }
}
/*--------------------------------------------------Pages secton end -----------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------------------------------------------------ */

/*--------------------------------------------------reservaton secton start -----------------------------------------------------------*/

.reservation {
  padding: 70px 15px;
  text-align: center;
}
.reservation .para1 {
  font-size: 17px;
  color: var(--textColor);
  margin-top: 10px;
}
@media (min-width: 768px) {
  .reservation .form {
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
  }
  .reservation .form .row1 {
    width: 45%;
  }
  .reservation .form .row2 {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .reservation {
    padding: 80px 15px;
  }
}
@media (min-width: 1400px) {
  .reservation {
    padding: 90px 15px;
  }
}

/*--------------------------------------------------reservation secton end -----------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------footer secton start -----------------------------------------------------------*/

.footer {
  padding: 80px 15px;
  text-align: center;
  background-color: var(--iconBGColor);
}
.footer .icons {
  width: 260px;
}
.footer .icons i {
  color: white;
  font-size: 20px;
}
.footer .icons i:hover {
  color: var(--themecolor);
}
.combination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------------------------------------footer secton end -----------------------------------------------------------*/
